.sk-video-supercontainer {
	margin-left:auto;
	margin-right:auto
}
.sk-video-container img {
	display:block;
	width:100%;
}
.sk-video-container {
	position: relative;
	height: 0; 
	overflow: hidden;
	background-color: #ccc;
}
.sk-video-container.ratio169 {
	padding-bottom: 56.25%;
	display:block;
}
.sk-video-container.ratio43 {
	padding-bottom: 75%;
	/*padding-bottom: inherit;*/
	/*height: inherit;*/
	display:block;
}
.sk-video-container iframe,
.sk-video-container object,
.sk-video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:0;
}

.sk-video-playbutton {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
	background: rgba(0,0,0,0.0) url(../Icons/player_icon.svg) no-repeat center; 
	
	background-size: 20%;
	
	transition: transform .15s ease-out;
}
.sk-video-playbutton:hover {
	transform: scale(1.04);
}

.sk-video-titlecontainer {
	position:absolute;
	left:2%;
	top:2%;
	color:white;
	background-color:rgba(0,0,0,0.2);
	width:96%;
}

.sk-video-modal {
	height: 100%;
	width:100%;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.7);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, visibility 0s 0.5s;
	display:flex;
	align-items: center;
	justify-content: center;
}
.sk-video-modal div:first-child {
	/*
	max-width:500px;

	width:90%;
	color:black;
	background-color:white;
	border:1px solid black;

	 */
	padding:1em;
	background: linear-gradient(to bottom, #fff 0%, #f6f6f6 47%, #f2f2f2 100%);
	font-size: 1.375rem;
	max-width: 800px;
	text-align: start;
	font-family: "CompatilTextLTW01", "CaronTextLTW01", "CompatilText", "CompatilSemperOper", Georgia, Times, "Times New Roman";
	line-height: initial;
}


.sk-video-modal.active {
  	opacity: 1;
  	visibility: visible;
  	transition: opacity 0.5s;
	z-index: 1024;
}

.sk-video-modal .disclaimer {
	display:block;
	margin-bottom:1em;
	
	padding:1em 0;
	height: fit-content;
	max-height: 200px;
	overflow: auto;
	//background-color: #0aedff;
}
.sk-video-modal label {
	margin-bottom:1em;
	display:block;
}

.sk-video-modal .btn {
	margin-left: 1em;
	float: right;
}

.sk-video-modal input[type="checkbox"] {
	/*padding: 20px;*/
	width: 20px;
	height: 20px;
}

.sk-video-modal .disclaimer a {
	text-decoration: underline;
}


/* mobile */

@media (max-width: 769px) {
		.acceptgdpr-text {
			width: 94%;
		}
	.sk-video-playbutton {
		background-size: 220px;
	}

}

/* sm_down: smartphone only */
@media (max-width: 479px) {


	.acceptgdpr-text {
		width: 100%;
		padding: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;

		height: 100%;
		font-size: 1em;
	}
	.btn {
		font-size: 0.7em !important;
		margin-top: 1em;

	}
	.sk-video-modal .disclaimer {
		max-height: fit-content;
	}


	.sk-video-playbutton {
		background-size: 160px;
	}
}