<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<span style="font-weight: bold">
<f:translate key="LLL:EXT:skvideo/Resources/Private/Language/locallang_be.xlf:previewtypelabel" />: {type}
<br><f:translate key="LLL:EXT:skvideo/Resources/Private/Language/locallang_be.xlf:previewcodelabel" />: {videoCode}
<br><f:translate key="LLL:EXT:skvideo/Resources/Private/Language/locallang_be.xlf:previewtitlelabel" />:
<f:if condition="{includeTitles}">
    <f:then>{title}</f:then>
    <f:else>
        <span style="font-style: italic;"><f:translate key="LLL:EXT:skvideo/Resources/Private/Language/locallang_be.xlf:notshownlabel" /></span>
    </f:else>
</f:if>
</span>
<br>
<f:image src="{imgPath}" alt="" width="200" />
<br>
<a href="{platformLink}" target="_blank" title="{f:translate(key: 'LLL:EXT:skvideo/Resources/Private/Language/locallang_be.xlf:previewviewonvideosite')}"><f:translate key="LLL:EXT:skvideo/Resources/Private/Language/locallang_be.xlf:previewviewonvideosite" /></a>


</html>



