<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<span style="font-weight: bold">
Type: {type}
<br>Code: {videoCode}
<br>Title: 
<f:if condition="{includeTitles}">
    <f:then>{title}</f:then>
    <f:else>
        <span style="font-style: italic;">not shown</span>
    </f:else>
</f:if>
</span>
<br>
<a href="{platformLink}" target="_blank" title="View on Video Site"><f:image src="{imgPath}" alt="" width="200" /></a>


</html>


